@model Modal
<div aria-hidden="true" aria-labelledby="@Model.AreaLabelID" role="dialog" tabindex="-1" id="@Model.ID" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog @Model.ModalSizeClass">
        <div class="modal-content card @Model.ModalColorClass card-outline">

        </div>
    </div>
</div>