<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\middle-office-nlog-internal.log">

	<!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
	<variable name="myvar" value="myvalue"/>

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="File" 
				name="fileTarget" 
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}"
				encoding="UTF-8"
				archiveFileName="${basedir}/logs/archive_{#}_${level}.zip"
				archiveNumbering="DateAndSequence"
				archiveDateFormat="yyyyMMdd"
				archiveAboveSize="1000000000"
				archiveEvery="Day"
				enableArchiveFileCompression="true"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="fileTarget" />
	</rules>
</nlog>